<div class="page-header">
  <h1>Маршрут</h1>
</div>
<div class="container">
  <div class="row">
        <div class='input-group date'>
          <%= form_for @order do |f| %>
            <div class="input-group">
              <%= f.label :date %>
              <%= f.text_field :date, class: 'timepicker3' %>
              <%= f.submit 'Купить билеты' %>
              <div>Суммарное растояние маршрута <%= @total_route_distance %></div>
              <% @total_track.each do |part_track| %>
                <%= render 'train_shedule', part_track: part_track, f: f %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.timepicker3').datetimepicker({
          locale: 'ru',
          format: 'DD/MM/YYYY'
        });
    });
</script>
